rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: This is insecure. For development only.
    // Restrict this before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
